<%- include('common/nav'); -%>

<h1
  style="
    color: rgba(207, 255, 32, 0.59);
    display: flex;
    justify-content: center;
    margin-top: 100px;
  "
>
  Authentication Project using Template Engine with Express in NodeJS !
</h1>
